---
import ServerItem from "./items/listitem.astro";
import { ServerListing } from "./items/response.astro";

const servers = ServerListing.servers;
---

<div class="black-background">
  <div class="row-content">
    <br />
    {servers.map((server) => <ServerItem name={server.name} playlist={server.playlist} region={server.region} players={server.playerCount} minplayers={server.maxPlayers} map={server.map} />)}
  </div>
</div>
